.center {
    text-align: center;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}


.center-page {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50px;
    margin: auto;
}

.space-verticall {
    margin-top: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 300px;
    margin: auto;
}

body {
    padding-top: 70px;
}

.pad{
    padding-top:20px;
}

.col-success {
    background-color: #dff0d8;
}

.col-error {
    background-color: #f2dede;
}

.col-warning {
    background-color: #fcf8e3;
}

.col-info {
    background-color: #d9edf7;
}